<!-- approvedRequests.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Approved Requests</title>
    <link th:href="@{/approvedRequests.css}" rel="stylesheet" />
</head>
<body>
    <h1>Hello from the approved requests</h1>
    <button onclick="location.href='/';">Home</button>
    <button onclick="location.href='/approvedRequests';">See approved requests</button>
    <button onclick="location.href='/awaitingApproval';">See requests that await approval</button>
    <button onclick="location.href='/createRequest';">Create a new request</button>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Selected Date</th>
            <th>Reason</th>
        </tr>
        <tr th:each="formData : ${approvedRequests}">
            <td th:text="${formData.firstName}"></td>
            <td th:text="${formData.lastName}"></td>
            <td th:text="${formData.selectedDate}"></td>
            <td th:text="${formData.reason}"></td>
        </tr>
    </table>
</body>
</html>